main {
    background-color: var(--cor-preto);
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main>div {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}


.formulario-cadastro {
    width: 87%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formulario-botao-azul{
    margin-top: 25px;
    width: 100%;
}

form>p {
    display: flex;
    text-align: center;
    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-branca);
}

#secao-conectar>p>a {
    color: var(--cor-azul);
    font-size: var(--tamanho-fonte-sm);
    text-decoration: none;
}

#secao-conectar>p {
    color: var(--cor-branca);
    font-size: var(--tamanho-fonte-md);
}

.formulario-cadastro>input {
    border: var(--borda);
}

#botao-upload {
    margin-top: 15px;
}

#secao-conectar {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main>div>p {
    color: var(--cor-branca);
    font-family: var(--tamanho-fonte-sm);
}

.secao-registro {
    background-color: var(--cor-cinza-escuro1);
    border: var(--borda);
    width: 100%;
    max-width: 420px;
    display: flex;
    justify-content: center;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 3%;
}
