main {
    background-color: var(--cor-preto);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 20px;   
}



#storys {
    background-color: var(--cor-cinza-escuro1);
    width: 100%;
    /* height: 300px; */
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: scroll;
    gap: 30px;
}

#storys::-webkit-scrollbar {
    width: 0;
}

.card-story {
    background-color: var(--cor-cinza-escuro1);
}

.card-story>button {
    background-color: transparent;
    border: none;

    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-branca);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.card-story>button>img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}


/*seção criar publi */

.formulario-botao-azul {
    width: 135px;
}

#criar-publi {
    padding: 10px;
    gap: 30px;
}

#criar-publi>h2 {
    color: var(--cor-branca);
    font-size: var(--tamanho-fonte-lg);
    font-weight: 700;
}

#criar-publi>form>textarea {
    width: 100%;
    height: 80px;
    padding: 10px;
    resize: none;
    border: var(--borda);
    margin-top: 10px;
    margin-bottom: 10px;

    background-color: var(--cor-cinza-escuro1);
    color: var(--cor-branca);
    font-size: var(--tamanho-fonte-md);
}

#criar-publi>form>textarea::placeholder {
    color: var(--cor-branca);
}

.botao-feed {
    display: flex;
    justify-content: end;
    gap: 15px;
}

/*seção publicações*/

#publicacoes {
    background-color: darkcyan;
    width: 100%;
}

header {
    display: flex;
    gap: 20px;
}

.card-publi {
    background-color: var(--cor-cinza-escuro1);
    width: 100%;
}

.card-publi>header {
    padding: 15px;
}

.card-publi>header>a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: var(--cor-branca);
    text-transform: lowercase;
}

.card-publi>figure {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.imagem-publicacao {
    object-fit: cover;
    /*redmensiona a imagem*/
    object-position: top;
    width: 100%;
    height: 350px;
}

.card-publi>figure>figcaption {
    color: var(--cor-branca);
    font-size: var(--tamanho-fonte-md);
    font-weight: 500;
    display: flex;
    /*por padrão o flexbox deica os elementos em linha*/
    align-items: center;
    column-gap: 5px;
    order: 2;
    margin: 15px;

}

.descricao-publicacao {
    font-size: var(--tamanho-fonte-sm);
    font-weight: 400;
}




.card-publi>figure>button {
    background-color: transparent;
    border: none;

    color: var(--cor-cinza-escuro2);
    font-size: var(--tamanho-fonte-sm);

    order: 3;

    margin-left: 15px;
}