/*primeira forma de utilizar uma fonte*/
/* @import url('https://fonts.googleapis.com/css2?family=Baskervville+SC:wght@400..700&family=Baskervville:ital,wght@0,400..700;1,400..700&family=Orbit&display=swap'); */

/*segunda forma de utilizar a fonte*/
@font-face {
    font-family: Baskervville;
    src: url(../assets/fonts/Baskervville/Baskervville-Italic-VariableFont_wght.ttf),
        url(../assets/fonts/Baskervville/Baskervville-VariableFont_wght.ttf);
}

/*variáveis*/

:root {
    --cor-preto: #1E1E1E;
    --cor-cinza-escuro1: #222222;
    --cor-cinza-escuro2: #333333;
    --cor-cinza-medio1: #4B4B4B;
    --cor-cinza-medio2: #A0A0A0;
    --cor-branca: #F4F4F4;
    --cor-azul: #2563EB;
    --cor-azul-escuro: #1E3A8A;

    --borda: 1px solid var(--cor-cinza-medio2);
    --borda-arredondada: 3px;

    --tamanho-fonte-lg: 20px;
    --tamanho-fonte-md: 16px;
    --tamanho-fonte-sm: 14px;
}

/*SELETOR GLOBAL*/

* {
    padding: 0;
    /*espaço interno*/
    margin: 0;
    /*espaço externo*/
    box-sizing: border-box;
    /*atribui espaços internos/externos e bordas no tamanho final do box*/
    font-family: "Baskervville SC", serif;
    outline-color: var(--cor-azul);
}

body {
    background-color: var(--cor-preto);
}

h1 {
    position: absolute;
    z-index: -1;    
    opacity: 0;
}

.container-flex-publi {
    background-color: var(--cor-preto);   
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/*formulário*/

.formulario-botao-azul,
.botao-cadastro {
    background-color: var(--cor-azul-escuro);
    border-radius: var(--borda-arredondada);
    border: none;
    /*tira a borda*/
    height: 35px;

    color: var(--cor-branca);
    font-size: var(--tamanho-fonte-sm);
}

.formulario-campos>input {
    border: var(--borda);
    height: 35px;
    background-color: var(--cor-cinza-escuro2);

    color: var(--cor-branca);
    font-size: var(--tamanho-fonte-sm);
    border-radius: var(--borda-arredondada);
}

.formulario-campos>label {
    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-branca);
    font-weight: 600;
}

.estilo-formulario {
    width: 100%;
    background-color: var(--cor-cinza-escuro1);
    border: var(--borda);

}

#campo-upload {
    display: none;
}

#botao-upload {
    width: 100%;
    max-width: 300px;
    min-height: 35px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: var(--borda);
    border-radius: var(--borda-arredondada);
    background-color: var(--cor-cinza-escuro2);
    font-weight: 500;
}

label {
    display: inline-block;
    width: 100%;
}

/*cadastro*/

.formulario-cadastro>input {
    width: 100%;
    min-height: 35px;
    padding: 5px;
    border-radius: var(--borda-arredondada);
    background-color: var(--cor-cinza-escuro2);

}

.formulario-cadastro>label {
    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-branca);
    font-weight: 600;
}

/*Cabeçalho*/

#cabecalho {
    background-color: var(--cor-preto);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;   
     border-bottom: var(--borda);
    /*alinha os filhos na direção do flex*/
}

#cabecalho>nav {
    background-color: var(--cor-preto);
    width: 85%;
    max-width: 900px;
    height: 100%;
    display: flex;
    align-items: center;
    /*alinha os filhos na direção contraria do flex*/
    justify-content: space-between;

}

#logo-mobile {
    display: none;
}

.cabecalho-acoes {
    background-color: var(--cor-preto);
    display: flex;
    align-items: center;
    gap: 15px
}

.cabecalho-acoes>a {
    display: flex;
    align-items: center;
}

.foto-perfil {
    width: 40px;
    height: 40px;
    object-fit: cover;
    /*mantem a proporção com um zoom para adaptar ao tamanho do elemento, redmensiona*/
    object-position: center;
    border-radius: 50%;
}

/*botões de publicacao*/

.interacoes-publicacao {
    display: flex;
    width: 100px;
    flex-wrap: wrap;
    justify-content: space-between;
    order: 1;
    margin-left: 15px;
    margin-top: 15px;
}

.interacoes-publicacao>button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    /*mãozinha quando passa em cima*/
}

.interacoes-publicacao>span{
    color: var(--cor-branca);
}



/*RESPONSIVO*/

@media only screen and (max-width: 500px) {
    #logo-mobile {
        display: initial;
    }

    #logo-desktop {
        display: none;
    }

}